<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="21.3.0" targetFramework="net452" />
  <package id="Aspose.Words.Shaping.HarfBuzz" version="21.3.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net452" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net452" />
  <package id="GroupDocs.Conversion" version="21.3.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="sautinsoft.exceltopdf" version="5.4.1.20" targetFramework="net452" />
  <package id="Spire.XLS" version="11.3.4" targetFramework="net452" />
  <package id="Syncfusion.Compression.Base" version="18.4.0.47" targetFramework="net452" />
  <package id="Syncfusion.ExcelToPdfConverter.ClientProfile" version="18.4.0.47" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="18.4.0.47" targetFramework="net452" />
  <package id="Syncfusion.Pdf.ClientProfile" version="18.4.0.47" targetFramework="net452" />
  <package id="Syncfusion.XlsIO.ClientProfile" version="18.4.0.47" targetFramework="net452" />
</packages>